.bg-xs {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    background-image: url('./images/index_wallpaper_xs.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* Makes the image cover the entire screen */
    background-position: top center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh; /* Ensures the body is the full height of the viewport */
}

.bg-lg {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    background-image: url('./images/index_wallpaper_lg.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* Makes the image cover the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh; /* Ensures the body is the full height of the viewport */
}

/* Boutton custom: https://ui-buttons.web.app */
.btn-57,
.btn-57 *,
.btn-57 :after,
.btn-57 :before,
.btn-57:after,
.btn-57:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-57 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #657fa8;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #657fa8);
  padding: 0;
}
.btn-57:disabled {
  cursor: default;
}
.btn-57:-moz-focusring {
  outline: auto;
}
.btn-57 svg {
  display: block;
  vertical-align: middle;
}
.btn-57 [hidden] {
  display: none;
}
.btn-57 {
  background: none;
  border: 3px solid;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 20px 60px;
  position: relative;
  text-transform: uppercase;
}
.btn-57:before {
  background: #c7cce0;
  border-radius: 999px;
  content: "";
  inset: 0;
  position: absolute;
  transform: translate(10px, 10px);
  transition: transform 0.2s;
  z-index: -1;
}
.btn-57:hover:before {
  transform: translate(0);
}


/* CUSTOM FONT */
@font-face {
    font-family: 'simplifica'; /* The name you'll use in your CSS */
    src: url('fonts/SIMPLIFICA\ Typeface.ttf') format('truetype'); /* Path to your font */
    font-weight: normal; /* Can be normal, bold, etc. */
    font-style: normal; /* Can be normal, italic, etc. */
}

.titre{
    font-family: simplifica;
    font-size: 10rem;
}

.sous-titre{
    font-family: simplifica;
    font-size: 2rem;
}

