/*GÉNÉRAL*/
body {
    font-family: "Open Sans";
}

a {
    color: #232323;
}

/*HEADER*/
a:hover {
    text-decoration: none;
}

h3 {
    color: #3B4754;
    font-size: 24px;
}

#logo {
    margin-left: 30px;
}

/*MENU*/
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    color: #3B4754;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu .active, .nav-menu li a:hover {
    background: #C9F1FD;
    border-radius: 4px;
}

/*ENTÊTE*/
#imageConference {
    background-image: url("images/intelligence-emotionnelle.jpg");
    background-repeat: no-repeat;
    background-color: #CCF1F4;
    background-position: center;
    height: 300px;
}

#entete {
    text-align: center;
    color: #3B4754;
    height: 300px;
    padding-top: 80px;
}

#entete h1 {
    font-weight: bold;
    font-size: 28px;
}

#entete h2 {
    font-weight: normal;
    font-size: 16px;
    color:black;
}

#entete button {
    width: 154px;
    height: 42px;
    padding: 0px 10px 0px 10px;
    background: #29323D;
    color: #FFFFFF;
    border-color: #29323D;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

#entete button:hover {background-color: #0f1216}

#footer {
    width: 1400px;
	height: 2px;
	background: #EEF1F5;
    text-align: right;
    font-size: 12px;
    color: #798DA3;
}

/*CONTENU*/
.contenu {
    padding: 20px 100px 20px 100px;
    color: #444444;
    line-height: 1.3;
    text-align: left;
}


.encadre {
    padding: 4px 8px 4px 8px;
    color: #232323;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-weight: 400;
    font-size: 14px;
    display:inline;
}

/*AGENDA*/
.horaire {
    padding: 4px 8px 4px 8px;
    color: #3B4754;
    border-radius: 8px;
    font-weight: bold;
    font-size: 13px;
    background-color: #C9F1FD;
    text-align: center;
}

.horaireLine {
    width: 29px;
	height: 4px;
	transform: rotate(90deg);
	background: #C9F1FD;
	border-radius: 3px 3px 3px 3px;
    margin-left: 39px;
}

#horaire button {
    width: 221px;
    height: 42px;
    padding: 0px 10px 0px 10px;
    background: #29323D00;
    color: #29323D;
    border-color: #29323D;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

/* INSCRIPTION*/

.titresection {
	color: #3B4754;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.1;
}

.text-input-inscription {
	width: 494px;
	height: 48px;
	padding: 0px 10px 0px 15px;
    margin: 5px;
	background: #FFFFFF;
	color: #444444;
	border-color: #D6D6D6;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 16px;
}

.label-inscription {
	width: 189px;
	height: 24px;
	color: #232323;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
}

.radio-inscription {
	width: 85px;
	height: 19px;
	border-color: #232323;
	border-width: 1.5px;
	border-style: solid;
}

.button-soumettre {
	width: 154px;
	height: 42px;
	padding: 0px 10px 0px 10px;
	background: #72BB53;
	color: #FFFFFF;
	border-color: #29323D;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 12px;
	text-align: center;
    cursor: pointer;
}

.button-soumettre:hover {background-color: #426d2f}

.form-border{
    padding: 20px;
    border-radius: 3px;
    border-width: 2px;
    border-color: #798DA3;
    border-style: double;
}

  .rectangle-codepromo {
    width: 91px;
    height: 23px;
    padding: 8px 8px 8px 8px;
    background: #C9F1FD;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
  }

  .button-reset {
	width: 154px;
	height: 42px;
	padding: 0px 10px 0px 10px;
	background: #E61610;
	color: #FFFFFF;
	border-color: #29323D;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 12px;
	text-align: center;
    cursor: pointer;
}

.button-reset:hover {background-color: #880d09}

/* A PROPOS */
.imageapropos {
	width: 439px;
	height: 250px;
	border-radius: 10px;
}

.titreapropos {
	color: #3B4754;
	font-weight: 700;
	font-size: 18px;
  margin:0 0 0 10px;
}

.texte-apropos{
	color: #444444;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
  margin:20px 0 30px 40px;
}

.button-5 {
	width: 249px;
	height: 42px;
	padding: 0px 10px 0px 10px;
	background: #C9F1FD;
	color: #444444;
	border-color: #29323D;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px 2px 2px 2px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 12px;
	text-align: center;
}

.rondgris {
  width: 30px;
  height: 30px;
  background-color: #EDF0F4;
  border-radius: 50%; 
  display:flex;
}

.ligneapropos {
    width:100px;
    height:3px;
    background-color: #EDF0F4;
    border:none;
    margin-bottom:30px;
  }

/* intervenant */
.photointervenant {
    width: 126px;
    height: 126px;
    border-radius: 4px 4px 4px 4px;
}
.titre-intervenants {
    width: 150px;
    height: 79px;
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
}
.nomintervenant {
    color: #3B4754;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
}
.descriptionintervenant {
    width: 160px;
    color: #798DA3;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
}